  
<br>
<h3 class="text-center" style="color: blue;">Welcome Admin</h3>
<br>
<nav class="navbar navbar-expand-sm bg-primary navabar-dark">
      <ul class = "navbar-nav">
          <li class = "nav-item">

            <a href="/prod"><button style="color: black;" routerLink="prod" class="nav-link" ><img src="..\assets\images\product icon.jpg" style="height: 35px;">&nbsp; Product</button> &nbsp; &nbsp;</a>

        </li>
        <li class = "nav-item">
            <a href="/users"><button style="color: black;" routerLink="users" class="nav-link" ><img src="..\assets\images\user icon.jpg" style="height: 35px;">&nbsp; User</button> &nbsp; &nbsp;</a>
        </li>
        <!-- <li class = "nav-item">
            <a href="/User" routerLinkActive="active" class="nav-link" >User</a>
        </li> -->
         <li class = "nav-item">
            <a href="/feedback"><button style="color: black;" routerLinkActive="active" class="nav-link" ><img src="..\assets\images\feedback icon.png" style="height: 35px;">&nbsp;Feedback</button> &nbsp; &nbsp;</a>
        </li>
         
    </ul>
    <div>
    <a href="/home"><button style="color: black;" routerLink="home"  class="nav-link"><img src="..\assets\images\home logo.png"  style="height: 35px;">&nbsp;Logout</button> &nbsp; &nbsp; </a></div>  
</nav>


 