 /* You can add global styles to this file, and also import other style files */
 
body{
    

    margin: 100;

    padding: 100;

    background-image: url("/assets/images/background.jpg");

    background-size: cover;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-position: center;

    bottom: 50;

    width: 100%;

    height: 40px;

}
